html{
 background-color: floralwhite;
 font-family: sans-serif;  
}
h1{
    background-color: black;
    color: floralwhite;
    padding: 25px;
    width: 650px;
    text-align: left;
    margin-left: 25px;
}
h3{
    color: black;
    text-decoration-color: black;
    padding: 10px;
    outline-style:solid;
    outline-width: thin;
    padding-left: 25px;
    margin-left: 50px;
    width: 275px;
}